ANXS.hostname,v1.0.4
weareinteractive.ufw
ANXS.git,v1.0.1
geerlingguy.php
geerlingguy.apache
geerlingguy.mysql
ANXS.monit,v1.0.1
yatesr.timezone
darthwade.php-pecl
darthwade.zend-opcache
darthwade.wordpress
darthwade.wordpress-apache
geerlingguy.memcached
geerlingguy.php-memcached
MaximeThoonsen.automysqlbackup
ANXS.monit
